<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>Sn.</th>
            <th>username</th>
            <th>Url</th>
        </tr>
        <% for(let i=0; i<data.length;i++){ %>
        <tr>
            <td><% i+1 %></td>
            <td><% = data[i].username %></td>
            <td>< img src=<% = data[i].Url %> class = 'w-25'></td>
        </tr>
        <%}%>
    </table>
</body>
</html>